{
  "extends": "airbnb/base",
  "env": {
    "browser": true
  },
  "rules": {
    "linebreak-style": "off",
    "no-eval": "off",
    "no-param-reassign": "off"
  },
  "parser": "babel-eslint",
  "plugins": [
    "import"
  ],
  "settings": {
    "import/parser": "babel-eslint",
    "import/resolve": {
    "moduleDirectory": ["node_modules", "src"]
    }
  }
}